
/*contenedor flex*/
main { 
    display: flex; 
    flex-wrap: wrap;
    background-color: rgb(175, 175, 175);
    width: auto;
}

/*div dentro del contenedor flex*/
section {
    background-color: #888888;
    width: 600px;
    margin: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  section.iframe {
    background-color: #888888;
    width: 600px;
    margin: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
  }
  header {
    background-color: #f1f1f1;
    width: auto;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }
  iframe {
    display: block;
  }

body {
    background-color: #eeeeee;
    color: black;
    font-family: sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    color: #333333;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: #888888;
    color: black;
    font-size: 150%;
    text-transform: capitalize;
}

h3 {
    background-color: #aaaaaa;
    color: black;
    font-size: 130%;
}

p {
    background-color: #cccccc;
    line-height: 150%;
}

address {
    background-color: white;
    font-style: normal;
    text-align: right;
}

em {
    color: blue;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

strong {
    color: green;
    font-style: normal;
    font-weight: normal;
}